.reservetion__title{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;

    @media(max-width:767px){
        font-size: 21px;
        padding: 0px 30px;
    }
}
.reservetion__text{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 46px;
    text-align: center;

    @media(max-width:767px){
        font-size: 14px;
        margin-bottom: 32px;
        padding: 0px 30px;
    }
}
.reservetion__link{
    background-color: #81B3D2;
    display: block;
    width: 458px;
    color: #FFFFFF;
    padding: 16px 0px;
    box-sizing: border-box;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 66px;

    @media(max-width:767px){
        width: 284px;
        margin-bottom: 49px;
    }
} 
